<footer class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="medium-6 columns content">
                <div class="center">
                    <ul class="footer-nav inline-list show-for-small-up">
                        <li>jsSocials v0.2.0</li>
                        <li><a href="/demos">Demos</a></li>
                        <li><a href="/docs">Docs</a></li>
                        <li><a href="https://github.com/tabalinas/jssocials">GitHub</a></li>
                        <li><a href="https://github.com/tabalinas/jssocials/issues">Issues</a></li>
                    </ul>
                </div>
            </div>
            <div class="medium-6 columns content">
                <div class="footer-share">
                    <a class="github-button" href="https://github.com/tabalinas/jssocials"
                       aria-label="Star tabalinas/jssocials on GitHub">Star</a>
                    <a class="github-button" href="https://github.com/tabalinas/jssocials/fork"
                       aria-label="Fork tabalinas/jssocials on GitHub">Fork</a>
                    <a class="twitter-follow-button" href="https://twitter.com/artem_tabalin" data-show-count="false"
                       data-lang="en">Follow @{{ site.twitter }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="small-12 columns">
                © 2015 <a href="https://github.com/tabalinas">Artem Tabalin</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
<script>$(document).foundation();</script>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44114514-7', 'auto');
    ga('send', 'pageview');
</script>
