<footer class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="medium-6 columns content">
                <div class="center">
                    <ul class="footer-nav inline-list show-for-small-up">
                        <li>jsSocials v0.1.0</li>
                        <li><a href="/demos">Demos</a></li>
                        <li><a href="/docs">Docs</a></li>
                        <li><a href="https://github.com/tabalinas/jssocials">GitHub</a></li>
                        <li><a href="https://github.com/tabalinas/jssocials/issues">Issues</a></li>
                    </ul>
                </div>
            </div>
            <div class="medium-6 columns content">
                <div class="footer-share">
                    <a class="github-button" href="https://github.com/tabalinas/jssocials"
                       aria-label="Star tabalinas/jssocials on GitHub">Star</a>
                    <a class="github-button" href="https://github.com/tabalinas/jssocials/fork"
                       aria-label="Fork tabalinas/jssocials on GitHub">Fork</a>
                    <a class="twitter-follow-button" href="https://twitter.com/artem_tabalin" data-show-count="false"
                       data-lang="en">Follow @{{ site.twitter }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="small-12 columns">
                © 2015 <a href="https://github.com/tabalinas">Artem Tabalin</a>
            </div>
        </div>
    </div>
</footer>


<!-- build:js /js/vendor/libraries.min.js -->
<!-- bower:js -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js /js/vendor/foundation.min.js -->
<script src="/bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.abide.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.accordion.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.alert.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.clearing.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.interchange.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.joyride.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.reveal.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.slider.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.tab.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
<script src="/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<!-- endbuild -->
<!-- build:js /js/app.min.js -->
<script src="/js/app.js"></script>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<!-- endbuild -->
