<header>
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"><h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                {% assign pages = (site.pages | sort: 'weight') %}
                <ul class="right">
                    {% for p in pages %}
                    {% if p.title %}
                    <li {% if p.url == page.url %}class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </nav>
    </div>
</header>
