$larger-text: 1.2rem;
$feature-block-icon-color: $primary-color;

.demos-settings {
  margin-top: 2rem;
}

.demo-code {
  margin-top: 1rem;
}

.start-using {
  li {
    margin: 1rem 0;
  }
}

.feature-block {

  height: 170px;

  p {
    font-size: $larger-text;
  }

  i {
    font-size: 2rem;
    margin-right: .5rem;
    color: $feature-block-icon-color;
  }
}