$larger-text: 1.2rem;
$feature-block-icon-color: $primary-color;

.demos-settings {
  margin-top: 2rem;
}

.demo-code {
  margin-top: 1rem;
}

.start-using {
  li {
    margin: 1rem 0;
  }
}

.feature-block {

  height: 170px;

  p {
    font-size: $larger-text;
  }

  i {
    font-size: 2rem;
    margin-right: .5rem;
    color: $feature-block-icon-color;
  }
}

// Ads
.carbon {
  &-container {
    margin-top: 1rem;
  }

  &-wrap {
    text-align: center;
    cursor: pointer;
  }

  &-img {
    display: block;
  }

  &-text {
    display: block;
    margin-top: .5em;
    line-height: 1.5;
    color: #fff;
    font-size: .9rem;

    &:hover {
      color: #fff;
    }
  }

  &-poweredby {
    display: block;
    color: lighten($primary-color, 30%);
    font-size: .8rem;
    text-align: center;

    &:hover {
      color: lighten($primary-color, 30%);
    }
  }
}