$faded-text-color: #777;

$page-header-bg-color: $primary-color;
$page-header-text-color: #fff;
$page-header-font-size: 1.3rem;
$page-content-addon-border-color: #eee;

$footer-border-color: #e5e5e5;
$footer-bg-color: #2b2b2b;
$footer-bottom-bg-color: #242424;

$code-bg-color: #fcfcfc;
$code-border-color: #e5e5e5;

$note-bg-color: #ffffec;
$note-border-color: #e5e5e5;

img {
  max-width: 700px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.highlight {
  font-size: .8rem;
  margin-bottom: 1.5rem;
  border: 1px solid $code-border-color;
  padding: .5rem;
  background: $code-bg-color;
}

.top-bar .name h1 a {
  font-weight: normal;
}

.page-header {
  background: $page-header-bg-color;

  h1 {
    color: $page-header-text-color;
  }

  p {
    color: $page-header-text-color;
    font-size: $page-header-font-size;
  }
}

.page-content {

}

.page-content-addon {
  margin-bottom: 2rem;
}

.footer {
  border: 1px solid $footer-border-color;
  background: $footer-bg-color;
}

.footer-content {
  color: $faded-text-color;
}

.footer-nav {
  margin-bottom: 0;
}

.footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $footer-bottom-bg-color;
  color: $faded-text-color;
  font-size: .8rem;

  a {
    color: $faded-text-color;
  }
}

.footer-share {
  text-align: right;
}

@media #{$small-only} {
  .footer-nav {
    display: inline-block !important;
  }

  .footer-share {
    text-align: center;
  }
}

.alert-box.secondary {
  margin-bottom: 1rem;
  background-color: $note-bg-color;
  border-color: $note-border-color;

  p {
    margin-bottom: 0;
  }
}