---
layout: default
title: Demos
permalink: /demos/
weight: 3
---

<div class="page-header">
    <div class="row">
        <div class="small-12 columns content">
            <h1>Demos</h1>
            <p>How to use jsSocials</p>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row demos-settings">
        <div class="medium-6 columns">
            Select Theme:
            <select id="themeSelector">
                <option>flat</option>
                <option>classic</option>
                <option>minima</option>
                <option>plain</option>
            </select>
        </div>
        <div class="medium-6 columns">
            and any font-size:
            <select id="fontSizeSelector">
                <option>8</option>
                <option>10</option>
                <option>12</option>
                <option>14</option>
                <option selected>16</option>
                <option>18</option>
                <option>20</option>
                <option>24</option>
            </select>
        </div>
    </div>

    <div id="demosContainer" class="row demos-container">
        <div class="columns">
            {% assign demos = site.demos | sort: 'weight' %}
            {% for demo in demos %}
            <div class="demo-item content">
            <h2 class="demo-title">{{ demo.title }}</h2>
            {% if demo.note %}<div class="alert-box secondary">{{ demo.note | markdownify  }}</div>{% endif %}
            <div id="{{ demo.id }}"></div>
            {% capture demoCode %}```javascript
{{ demo.content }}
```{% endcapture %}
            <div class="demo-code">{{ demoCode | markdownify }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    #shareRoundIcons .jssocials-share-link {
        border-radius: 50%;
    }
</style>
<script>
    $(function() {

        {% for demo in site.demos %}
        {{ demo.content }}
        {% endfor %}

        var currentTheme = "flat";

        var switchTheme = function() {
            var newTheme = $("#themeSelector").val();
            var $cssLink = $("link[href$='" + currentTheme + ".css']");
            var cssPath = $cssLink.attr("href");
            $cssLink.attr("href", cssPath.replace(currentTheme, newTheme));
            currentTheme = newTheme;
        };

        var switchFontSize = function() {
            var fontSize = parseInt($("#fontSizeSelector").val(), 10);
            $(".jssocials").css("font-size", fontSize);
        };

        $("#themeSelector").on("change", switchTheme);
        $("#fontSizeSelector").on("change", switchFontSize);

    });
</script>