$base-size: 1.5em;
$base-padding: .3em;
$external-margin: .2em 0;

.jssocials-shares {
    margin: $external-margin;
}

.jssocials-shares * {
    box-sizing: border-box;
}

.jssocials-share {
    display: inline-block;
    margin: $base-padding;
}

.jssocials-share:first-child {
    margin-left: 0;
}

.jssocials-share:last-child {
    margin-right: 0;
}

.jssocials-share-button {
    display: inline-block;
}

.jssocials-share-logo {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: $base-size;
}

.jssocials-share-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.jssocials-share-label {
    padding-left: $base-padding;
    vertical-align: middle;
}

.jssocials-share-count-box {
    display: inline-block;
    height: $base-size;
    padding: 0 $base-padding;
    vertical-align: middle;
    cursor: default;
}

.jssocials-share-count {
    line-height: $base-size;
    vertical-align: middle;
}

